.about {
	width: 100%;
	min-height: 100vh;
	background-color: #308a73;
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
	padding: 170px 0;
	box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
}

.about__container {
	width: 80%;
	justify-content: space-between;
}

.avatar__wrapper {
	width: 40%;
}

.avatar__frame:hover {
	transform: translateY(-10px);
}

.avatar__frame {
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
	transition: .5s;
}

.avatar {
	width: 100%;
	transform: scale(1.05);
}

.about__text {
	color: #fff;
	font-size: 1.8rem;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

p {
	width: fit-content;
}

.download {
	text-decoration: none;
	transition: .5s;
	transform: translateY(0px);
	position: absolute;
}

.download > i {
	margin: 20px 10px 0 0;
	font-size: 2.5rem;
}

.download:hover {
	text-decoration: underline;
	transform: translateY(-10px);
}