.contact {
	width: 100%;
	color: #fff;
	padding: 50px 0;
	font-size: 2rem;
}

.contact__title {
	width: fit-content;
	position: relative;
}

.copy__icon {
	font-size: 2rem;
	opacity: 0;
	margin-right: -15px;
	transition: .2s;
	text-decoration: none !important;
}

.copy__icon:hover {
	transform: translateY(-10px)
}

.contact__title::after {
	content: 'wanna listen your suggestions';
	font-size: 1.2rem;
	position: absolute;
	top: 77%;
	left: 37%;
}

.links__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 100px;
	font-size: 3rem;
}

.links__wrapper a:not(.mail__mail) {
	text-decoration: none;
	color: #fff;
	transition: .5s;
	margin: 20px 30px;
}

.mail a {
	text-decoration: none;
	margin: 20px 15px 20px 30px;
}

.mail {
	display: flex;
	justify-content: center;
	transition: .5s;
}

.mail:hover {
	transform: translateY(-10px);
	text-decoration: underline;
}

.mail:hover .copy__icon {
	opacity: 1;
	cursor: pointer;
}

.links__wrapper a:not(.mail__mail):hover {
	text-decoration: underline;
	transform: translateY(-10px);
}