.skills {
	width: 100%;
	color: #fff;
	padding: 150px 0;
	font-size: 2rem;
	background-color: #308a73;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
}

.skills__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 30px auto;
}

.skill__card {
	background-color: #246756;
	border-radius: 10px;
	box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.1);
	padding: 20px;
	transition: .5s;
	margin: 20px 10px;
}

.skill__card:hover {
	transform: translateY(-10px);
	box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.stylingLibs {
	position: relative;
	z-index: 1;
}

.stylingLibs::after {
	position: absolute;
	top: 110%;
	left: -4%;
	content: "Material UI, ANTD";
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	height: fit-content;
	background-color: #0080ff;
	pointer-events: none;
	opacity: 0;
	transition: .5s;
}

.js:hover {
	color: #000;
	background-color: #f0d81e;
}

.react:hover {
	color: #61d2f2;
	background-color: #2a2b2d;
}

.html:hover {
	color: #fff;
	background-color: #f85421;
}

.css:hover {
	color: #fff;
	background-color: #0091d4;
}

.scss:hover {
	color: #c76493;
	background-color: #f7f7f7;
}

.styled:hover {
	color: #f8cb4f;
	background-color: #a8578b;
}

.stylingLibs:hover {
	color: #fff;
	background-color: #0080ff;
}

.stylingLibs:hover.stylingLibs::after {
	opacity: 1;
}

.npm:hover {
	color: #fff;
	background-color: #c63635;
}

.pnpm:hover {
	color: #4c4c4c;
	background-color: #f9ad01;
}

.git:hover {
	color: #e84e32;
	background-color: #323232;
}

.api:hover {
	color: #fff;
	background-color: #151515;
}

.json:hover {
	color: #fff;
	background-color: #151515;
}

progress {
	width: 200px;
	border: 2px solid #308a73;
	border-radius: 7px;
	height: 22px;
}

progress::-webkit-progress-bar {
	background-color: #308a73;
	border-radius: 7px;
}

progress::-webkit-progress-value {
	background-color: #246756;
	border-radius: 7px;
}