@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import 'header.css';
@import 'about.css';
@import 'portfolio.css';
@import 'skills.css';
@import 'contact.css';
@import 'scrolled.css';

@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Lobster.woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lobster", cursive;
	font-weight: 550;
}

*::selection {
	background-color: #cfcfcf4b;
}

a {
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #246756;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.31);
	overflow: overlay;
	background-repeat: repeat;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='63' height='63.6' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(165, 48%, 27%, 1)'/><path d='M10.7-1.8c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6-17.5-1.4-17-1.1zM1.2-.7l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.3-.5-.1-.2s-.9.7-1.7 1.2c-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2L6.8-.2c-.4-.2-.7-.5-1.1-.8l-.6-.4S-.2-2 1.2-.7zm-2.3 6.5l.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8L1 3.5.4 3l-.6-.5-.3-.3-.1-.1-.1-.1c-1.6-1.5-.4 3.8-.4 3.8zM36.1-.9c-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 3.2-1.8 1.5-2.6l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 0057-1.8c-1.9-1-19.8.2-20.9.9zM-1.8 12.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.8 3-.3 3.3zM42.33.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6a20.69 20.69 0 019.8 5.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 2.5-2.2.7-2.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-5.9 17.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2 0 0-2 2.3-1.5 2.6zM38.23 5.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 .8-2.2 0-2.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.03 26.03 0 00-4.47-.3zM35.67 13c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1 .7-.4 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM65.5 24.9c-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.1-1.9.3-2zm-25.63-7c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4C3 29 1.7 28.6.5 28.1c-.5-.3-1.1-.5-1.5-.8-.5-.3-.9.4-.4.8.4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM67.4 29.4c-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.8 2.4 1.4 3.9 2 .8.3 1.2-1.5.4-1.7zm-23.33-6.6c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm20.83 8.7c-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7-.3.3-.5zM-.3 34.6c.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.5-.1-.1.2zm48.47-6.9c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM-.6 36.8c.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3 2.3 2.5 3.5 3zm52.97-4.2c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9-.4.4-.8-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM-2.7 40.1c.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-1.1 1.9-.3 2zm59.17-2.5c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1-.7.4-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm-60.44 7.2c-.48.02-2.23 2.3-1.43 2.3 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a21.9 21.9 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zm61.57.1c-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a25.81 25.81 0 00-4-.3c-.95.02-1.43.05-1.9.1zm-62 7.7A20.69 20.69 0 015.4 58l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 002.3 52c-1.9-1-4-1.6-6-2-1.57-.22-2.5 2.2-.7 2.6zm59.23-2.9A22.9 22.9 0 0052 50c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-3.4 59.5c1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 19.8-.2 20.9-.9.6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-3.2 1.7-1.5 2.6zm54.03-4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1 2.1-2.3a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.04 26.04 0 00-4.47-.3zm-4.1 4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-.5 1 .3.5.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 6.9 1.3 6.9 1.3l-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3z'  stroke-width='1' stroke='none' fill='hsla(165, 48%, 36%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-0.8)' fill='url(%23a)'/></svg>")
}

/* @keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
} */

.download__resume {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	transition: .5s;
	opacity: 0;
	z-index: 0;
	pointer-events: none;
}

.download__resume>a {
	padding: 15px 40px;
	border: 2px solid #fff;
	background-color: none;
	text-decoration: none;
	margin: 0 70px;
	font-size: 2.7rem;
	transition: .3s;
	border-radius: 10px;
}

.download__resume>a:hover {
	mix-blend-mode: difference;
	color: #246756;
	background-color: #fff;
}

.message {
	position: fixed;
	z-index: 99;
	bottom: 0;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
	padding: 7px 20px;
	margin: 20px;
	font-size: 1.8rem;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(5px);
	user-select: none;
	opacity: 0;
}

#progress {
	height: 5px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 2;
	box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
}

header,
.arrow__wrapper,
.arrow__down,
.about,
.about__container,
.avatar__wrapper,
.links__wrapper>div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio__container,
.skills__container,
.like__container,
.contact__container {
	width: 80%;
	margin: auto;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	margin: 0 5px;
	background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(211, 211, 211);
}

@media (max-width: 830px) {
	.download__resume {
		flex-direction: column;
	}

	.download__resume>a {
		margin: 30px 0;
	}
}


/* @media (min-width: 1725px){

	.welcome__wrapper {
		font-size: 7rem;
		transform: translateY(120px);
	}

	.about {
		padding: 20% 0;
		box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
	}

	.avatar__frame {
		width: 40rem;
		height: 40rem;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.3);
	}

	.avatar__wrapper:hover {
		transform: translateY(-30px);
	}


	img {
		width: 40rem
	}

	.about__text {
		font-size: 2.5rem;
	}

	.portfolio {
		padding: 150px 0;
		font-size: 3rem;
	}

	.portfolio__card {
		width: 440px;
	}

	.skills {
		padding: 150px 0;
		font-size: 3rem;
	}

	.skills__wrapper {
		margin: 30px auto;
	}

	.skill__card {
		border-radius: 15px;
		padding: 40px;
		margin: 20px 10px;
	}

	.skill__card:hover {
		transform: translateY(-10px);
		box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.2);
	}

	.contact {
		margin-bottom: 250px auto;
		padding: 200px 200px;
	}

}

@media (max-width: 1650px) {

	.contact {
		margin-bottom: 200px auto;
	}

}

@media (max-width: 1575px) {
	.portfolio__card {
		width: 350px;
		padding: 20px; 
	}
}

@media (max-width: 1400px) {
	.portfolio__card {
		width: 320px;
	}
}

@media (max-width: 1305px) {

	.about__container {
		display: block;
	}

	.avatar__wrapper, .about__text {
		width: 100%;
	}

	.about__text {
		margin-top: 40px;
	}

	.portfolio__card {
		width: 400px;
	}

}

@media (max-width: 1060px) {
	.portfolio__card {
		width: 350px;
	}

	.portfolio__card::after {
		font-size: .8rem;
	}
}

@media (max-width: 920px) {

	.portfolio__card {
		width: 330px;
	}

	.portfolio__card::after {
		font-size: .75rem;
	}
	
}

@media only screen and (max-width: 890px) {
	
	.cards__wrapper {
		justify-content: center;
	}

	.portfolio__card {
		width: 400px;
	}
	
	.portfolio__card::after {
		font-size: 1rem;
	}

	.links__wrapper {
		padding: 50px 0px;
	}

}

@media only screen and (max-width: 600px) {

	.download__resume {
		flex-direction: column;
	}

	.download__resume > a {
		margin: 30px;
		transition: .3s;
	}

}

@media only screen and (max-width: 400px) {

	.about__text {
		font-size: 3rem;
	}

} */